.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  background-color: aliceblue
  /* background-color: rgb(82, 82, 82) */

}

.sidenav .mat-toolbar {
  background: inherit;
  /* background: rgb(228, 79, 79); */

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
};
.projectMenu{
  width: 200px
};
table{
  width: 100%;
  padding-top: -15%
};
#customers{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
};
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
};
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

